[package]
name = "sierra2mlir"
version = "0.1.0"
edition = "2021"
authors = [
    "Edgar <@edg-l>",
]

[[bench]]
name = "execution"
harness = false

[dependencies]
cairo-lang-compiler = { git = "https://github.com/starkware-libs/cairo", tag = "v1.0.0-alpha.6"}
cairo-lang-sierra = { git = "https://github.com/starkware-libs/cairo", tag = "v1.0.0-alpha.6"}
color-eyre = "0.6.2"
itertools = "0.10.5"
melior-next = { git = "https://github.com/edg-l/melior-next", rev = "33d89f76a742bdc7c211b07df307688f6411a40c"}
num-bigint = "0.4.3"
num-traits = "0.2.15"
regex = "1.7.3"
tracing = "0.1.37"

[dev-dependencies]
cairo-lang-runner = { git = "https://github.com/starkware-libs/cairo", tag = "v1.0.0-alpha.6" }
criterion = "0.4.0"
num-bigint = "0.4.3"
num-traits = "0.2.15"
tempdir = "0.3.7"
test-case = "3.0.0"
