[package]
name = "cairo-native"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "sierra2mlir"
required-features = ["build-cli"]

[[bin]]
name = "sierrajit"
required-features = ["build-cli"]

[features]
build-cli = ["clap", "serde_json", "tracing-subscriber"]
with-runtime = ["cairo-native-runtime"]

[dependencies]
bumpalo = "3.13.0"
cairo-felt = "0.6.1"
cairo-lang-compiler = "2.0.2"
cairo-lang-defs = "2.0.2"
cairo-lang-diagnostics = "2.0.2"
cairo-lang-filesystem = "2.0.2"
cairo-lang-lowering = "2.0.2"
cairo-lang-sierra = "2.0.2"
cairo-lang-sierra-generator = "2.0.2"
id-arena = "2.2.1"
itertools = "0.11.0"
lazy_static = "1.4.0"
libc = "0.2.147"
melior = "0.9.6"
mlir-sys = "0.2.0"
num-bigint = "0.4.3"
serde = { version = "1.0.171", features = ["derive"] }
thiserror = "1.0.43"
tracing = "0.1.37"

# CLI dependencies
cairo-native-runtime = { path = "runtime", optional = true }
clap = { version = "4.3.12", features = ["derive"], optional = true }
serde_json = { version = "1.0.103", features = ["arbitrary_precision"], optional = true }
tracing-subscriber = { version = "0.3.17", features = [
    "env-filter",
], optional = true }

[dev-dependencies]
cairo-lang-runner = "2.0.2"
cairo-lang-starknet = "2.0.2"
lambdaworks-math = "0.1.3"
num-traits = "0.2.16"
pretty_assertions = "1.4.0"
proptest = "1.2.0"
serde_json = { version = "1.0.103", features = ["arbitrary_precision"] }
tempfile = "3.6.0"

[build-dependencies]
cc = "1.0.79"

[profile.optimized-dev]
inherits = "dev"
opt-level = 3

[workspace]
members = ["runtime"]
