[package]
name = "cairo-native"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lambdaclass/cairo_native"
readme = "README.md"
keywords = ["starknet", "cairo", "compiler", "mlir"]

# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[[bin]]
name = "cairo-native-dump"
required-features = ["build-cli"]

[[bin]]
name = "cairo-native-run"
required-features = ["build-cli"]

[features]
default = ["build-cli", "with-runtime"]
build-cli = ["clap", "serde_json", "tracing-subscriber"]
with-runtime = ["cairo-native-runtime"]

[dependencies]
bumpalo = "3.13"
cairo-felt = "0.8.5"
cairo-lang-compiler = "2.1.0-rc4"
cairo-lang-defs = "2.1.0-rc4"
cairo-lang-diagnostics = "2.1.0-rc4"
cairo-lang-filesystem = "2.1.0-rc4"
cairo-lang-lowering = "2.1.0-rc4"
cairo-lang-sierra = "2.1.0-rc4"
cairo-lang-sierra-generator = "2.1.0-rc4"
id-arena = "2.2"
itertools = "0.11"
lazy_static = "1.4"
libc = "0.2.147"
melior = "0.9.9"
mlir-sys = "0.2.0"
num-bigint = "0.4.3"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
tracing = "0.1"

# CLI dependencies
cairo-native-runtime = { path = "runtime", optional = true }
clap = { version = "4.3", features = ["derive"], optional = true }
serde_json = { version = "1.0", features = ["arbitrary_precision"], optional = true }
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }
cairo-lang-sierra-gas = "2.1.0-rc4"
cairo-lang-sierra-ap-change = "2.1.0-rc4"
cairo-lang-utils = "2.1.0-rc4"

[dev-dependencies]
cairo-lang-runner = "2.1.0-rc4"
cairo-lang-starknet = "2.1.0-rc4"
lambdaworks-math = "0.1"
num-traits = "0.2"
pretty_assertions = "1.4"
proptest = "1.2"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
tempfile = "3.6"

[build-dependencies]
cc = "1.0"

[profile.optimized-dev]
inherits = "dev"
opt-level = 3

[profile.release]
lto = true
codegen-units = 1

[workspace]
members = ["runtime"]
