[package]
name = "cairo-native"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/lambdaclass/cairo_native"
readme = "README.md"
keywords = ["starknet", "cairo", "compiler", "mlir"]

# Explicitly set the resolver to the default for edition >= 2021
# https://doc.rust-lang.org/edition-guide/rust-2021/default-cargo-resolver.html
resolver = "2"

[[bin]]
name = "cairo-native-dump"
required-features = ["build-cli"]

[[bin]]
name = "cairo-native-run"
required-features = ["build-cli"]

[features]
default = ["build-cli", "with-runtime"]
build-cli = ["clap", "tracing-subscriber"]
with-debug-utils = []
with-runtime = ["cairo-native-runtime"]

[dependencies]
bumpalo = "3.14"
cairo-felt = "0.8.5"
cairo-lang-compiler = "2.3.1"
cairo-lang-defs = "2.3.1"
cairo-lang-diagnostics = "2.3.1"
cairo-lang-filesystem = "2.3.1"
cairo-lang-lowering = "2.3.1"
cairo-lang-sierra = "2.3.1"
cairo-lang-sierra-generator = "2.3.1"
educe = "0.4.23"
id-arena = "2.2"
itertools = "0.12"
lazy_static = "1.4"
libc = "0.2.147"
melior = { version = "0.13.0", features = ["ods-dialects"] }
mlir-sys = "0.2.1"
num-bigint = "0.4.4"
num-traits = "0.2"
thiserror = "1.0"
tracing = "0.1"
llvm-sys = "170.0.0"
tempfile = "3.6"

# CLI dependencies
cairo-native-runtime = { path = "runtime", optional = true }
clap = { version = "4.3", features = ["derive"], optional = true }
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }
cairo-lang-sierra-gas = "2.3.1"
cairo-lang-sierra-ap-change = "2.3.1"
cairo-lang-utils = "2.3.1"
cairo-lang-starknet = "2.3.1"
libloading = "0.8.1"

[dev-dependencies]
cairo-lang-runner = "2.3.1"
lambdaworks-math = "0.1"
num-traits = "0.2"
pretty_assertions_sorted = "1.2.3"
proptest = "1.2"
tempfile = "3.6"
test-case = "3.2.1"

[build-dependencies]
cc = "1.0"

[profile.optimized-dev]
inherits = "dev"
opt-level = 3

[profile.release]
lto = true
codegen-units = 1

# Set the settings for build scripts and proc-macros.
[profile.dev.build-override]
opt-level = 3

# On dev optimize dependencies a bit so it's not as slow.
#[profile.dev.package."*"]
#opt-level = 1

[workspace]
members = ["runtime"]
