[package]
name = "cairo-native-runtime"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
cairo-felt = "0.8.2"
cairo-lang-runner = "=2.3"
libc = "0.2"
starknet-crypto = "0.6"
starknet-curve = "0.4"
