[package]
name = "cairo-native-runtime"
version = "0.2.0"
description = "A compiler to convert Cairo's intermediate representation Sierra code to MLIR."
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
starknet-types-core = { version = "=0.1.2", default-features = false, features = [
  "std", "serde",
] }
cairo-lang-runner = "2.6.4"
cairo-lang-sierra-gas = "2.6.4"
libc = "0.2.155"
starknet-crypto = "0.6.2"
starknet-curve = "0.4.2"
lazy_static = "1.4.0"
