[package]
name = "cairo-native-runtime"
version = "0.2.2-alpha.0"
description = "The runtime for cairo-native."
edition = "2021"
license = "Apache-2.0"
keywords = ["starknet", "cairo", "runtime"]

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
starknet-types-core = { version = "0.1.7", default-features = false, features = [
    "std",
    "serde",
    "hash",
] }
cairo-lang-sierra-gas = "2.9.0-dev.0"
starknet-curve = "0.5.1"
lazy_static = "1.5.0"
rand = "0.8.5"
itertools = "0.13.0"
num-traits = "0.2"
