[package]
name = "cairo-native-runtime"
version = "0.2.0-alpha.3"
description = "A compiler to convert Cairo's intermediate representation Sierra code to MLIR."
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
starknet-types-core = { version = "0.1.7", default-features = false, features = [
    "std", "serde", "hash"
] }
cairo-lang-sierra-gas = "2.8.4"
libc = "0.2"
starknet-curve = "0.5.1"
lazy_static = "1.5.0"
rand = "0.8.5"
itertools = "0.13.0"
num-traits = "0.2"
