[package]
name = "cairo-native-runtime"
version = "0.1.0"
description = "A compiler to convert Cairo's intermediate representation Sierra code to MLIR."
edition = "2021"
license = "Apache-2.0"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[dependencies]
starknet-types-core = { version = "0.0.9", default-features = false, features = [
  "serde",
] }
cairo-lang-runner = "2.6.3"
libc = "0.2"
starknet-crypto = "0.6"
starknet-curve = "0.4"
lazy_static = "1.4"
