name: Weekly Cairo Release Check

on:
  schedule:
    # Run all Mondays at 08:00.
    - cron: "0 8 * * 1"

jobs:
  release-tag-check:
    name: Check Last Cairo Release
    runs-on: ubuntu-latest
    env:
      LLVM_SYS_191_PREFIX: /usr/lib/llvm-19/
      MLIR_SYS_190_PREFIX: /usr/lib/llvm-19/
      TABLEGEN_190_PREFIX: /usr/lib/llvm-19/

    steps:
      - name: Checkout Native
        uses: actions/checkout@v4

      - uses: ./.github/actions/install-linux-deps
      - name: Setup Rust Env
        uses: dtolnay/rust-toolchain@1.89.0
      - name: Retreive cached dependecies
        uses: Swatinem/rust-cache@v2

      - name: Retreive Versions
        run: |
          version="([[:alnum:]~-]|\.)+"
          last_release=$(curl -s https://api.github.com/repos/starkware-libs/cairo/releases/latest \
              | jq -r .tag_name \
              | cut -c 2-
          )
          current_release=$(grep -E "CAIRO_2_VERSION = $version" Makefile | awk '{print $3}')
          
          echo "CAIRO_LAST_RELEASE=${last_release}" | tee -a $GITHUB_ENV
          echo "CAIRO_CURRENT_RELEASE=${current_release}" | tee -a $GITHUB_ENV

      - name: Patch Native Dependencies
        if: ${{ echo -e "${env.CAIRO_LAST_RELEASE}\n${env.CAIRO_CURRENT_RELEASE}" | sort -Vr | head -n1)" = "${env.CAIRO_LAST_RELEASE}" }}
        run: |
          last_release=${{ env.CAIRO_LAST_RELEASE }}

          # Updates cairo-lang dependency with the last release.
          name='cairo-lang-[[:alnum:]-]+'
          version='"([[:alnum:]~-]|\.)+"'
          
          sed -i'' -r "s/^($name) = $version/\1 = \"~$last_release\"/" Cargo.toml

          git diff
      
      - name: Patch Corelib's Version Installer
        if: ${{ echo -e "${env.CAIRO_LAST_RELEASE}\n${env.CAIRO_CURRENT_RELEASE}" | sort -Vr | head -n1)" = ${env.CAIRO_LAST_RELEASE} }}
        run: |
          last_release=${{ env.CAIRO_LAST_RELEASE }}
          version='([[:alnum:]~-]|\.)+'

          # Change which corelib's version to install.
          sed -i'' -r "s/CAIRO_2_VERSION = $version/CAIRO_2_VERSION = $last_release/" Makefile

          git diff

      - name: Run Cairo Tests
        if: ${{ echo -e "${env.CAIRO_LAST_RELEASE}\n${env.CAIRO_CURRENT_RELEASE}" | sort -Vr | head -n1)" = ${env.CAIRO_LAST_RELEASE} }}
        run: | 
          make deps
          make test-cairo

      - name: Prepare Env vars.
        if: ${{ echo -e "${env.CAIRO_LAST_RELEASE}\n${env.CAIRO_CURRENT_RELEASE}" | sort -Vr | head -n1)" = ${env.CAIRO_LAST_RELEASE} && failure() }}
        run: |
          echo "WORKFLOW_URL=$REPO_URL/actions/runs/${{ github.run_id }}" | tee -a $GITHUB_ENV

      - name: Create Issue
        if: ${{ echo -e "${env.CAIRO_LAST_RELEASE}\n${env.CAIRO_CURRENT_RELEASE}" | sort -Vr | head -n1)" = ${env.CAIRO_LAST_RELEASE} && failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_SHA: ${{ github.sha }}
        with:
          filename: .github/ISSUE_TEMPLATE/cairo-release-check.md
