name: Weekly Cairo Release Check

on:
  schedule:
    # Run all Mondays at 08:00.
    - cron: "0 8 * * 1"
  workflow_dispatch:

jobs:
  release-tag-check:
    name: Check Last Cairo Release
    runs-on: ubuntu-latest
    env:
      LLVM_SYS_191_PREFIX: /usr/lib/llvm-19/
      MLIR_SYS_190_PREFIX: /usr/lib/llvm-19/
      TABLEGEN_190_PREFIX: /usr/lib/llvm-19/

    steps:
      - name: Checkout Native
        uses: actions/checkout@v4

      - uses: ./.github/actions/install-linux-deps
      
      - name: Setup Rust Env
        uses: dtolnay/rust-toolchain@1.89.0

      - name: Retreive cached dependecies
        uses: Swatinem/rust-cache@v2

      - name: Add Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: pipx install versort

      - name: Retreive Versions and Check Latest
        run: |
          version="([[:alnum:]~-]|\.)+"

          # Get the latest cairo release. Compares all releases and check which 
          # is the greatest in semver terms.
         
          latest_release=$(curl -s https://api.github.com/repos/starkware-libs/cairo/releases \
            | jq -r 'map(.tag_name) | map(.[1:]) | join("\n")' \
            | versort --stdin semver --reverse \
            | head -n1
          )
          current_release=$(grep -E "CAIRO_2_VERSION = $version" Makefile | awk '{print $3}')

          # Check if the current release used by Cairo Native is the latest with respect to semver.
          if [[ $current_release = $latest_release ]]; then
            echo "SHOULD_CHECK=false" | tee -a $GITHUB_ENV
          else
            echo "SHOULD_CHECK=true" | tee -a $GITHUB_ENV
          fi

          echo "CAIRO_LATEST_RELEASE=${latest_release}" | tee -a $GITHUB_ENV
          echo "CAIRO_CURRENT_RELEASE=${current_release}" | tee -a $GITHUB_ENV
          echo "WORKFLOW_URL=$REPO_URL/actions/runs/${{ github.run_id }}" | tee -a $GITHUB_ENV

      - name: Patch Native Dependencies
        if: ${{ env.SHOULD_CHECK == 'true' }}
        run: |
          latest_release=${{ env.CAIRO_LATEST_RELEASE }}

          # Updates cairo-lang dependency with the last release.
          name='cairo-lang-[[:alnum:]-]+'
          version='"([[:alnum:]~-]|\.)+"'
          
          sed -i'' -r "s/^($name) = $version/\1 = \"~$latest_release\"/" Cargo.toml

          git diff
      
      - name: Patch Corelib's Version Installer
        if: ${{ env.SHOULD_CHECK == 'true' }}
        run: |
          latest_release=${{ env.CAIRO_LATEST_RELEASE }}
          version='([[:alnum:]~-]|\.)+'

          # Change which corelib's version to install.
          sed -i'' -r "s/CAIRO_2_VERSION = $version/CAIRO_2_VERSION = $latest_release/" Makefile

          git diff

      - name: Run Cairo Tests
        if: ${{ env.SHOULD_CHECK == 'true' }}
        run: | 
          make deps
          make test-cairo

      - name: Create Issue
        if: ${{ failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_SHA: ${{ github.sha }}
        with:
          filename: .github/ISSUE_TEMPLATE/cairo-release-check.md
