name: Daily Block Run

on:
  schedule:
    # At the end of every day
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  RANGE_SIZE: 2

jobs:

  # Gets the file with the blocks to execute, parses it and
  # outputs it so it can be used as a matrix in the next job
  setup:
    runs-on: ubuntu-latest
    outputs:
      blocks: ${{ steps.parse-blocks.outputs.blocks_list }}
    steps:

      - name: Checkout Native
        uses: actions/checkout@v4
        with:
          path: cairo_native

      - name: Restore blocks list
        id: cache-restore
        uses: actions/cache/restore@v4.2.0
        with:
          path: ./blocks.txt
          key: blocks-list
          fail-on-cache-miss: true
      # - name: Prepare env vars
      #   if: ${{ steps.cache-restore.outputs.cache-hit != 'true' }}
      #   run: |
      #     REPO_URL="${{ github.server_url }}/${{ github.repository }}"
      #     echo "WORKFLOW_URL=$REPO_URL/actions/runs/${{ github.run_id }}" | tee -a $GITHUB_ENV
      # - name: Create cache related issue
      #   if: ${{ failure() && steps.cache-restore.outcome == 'failure' }}
      #   uses: JasonEtco/create-an-issue@v2
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     COMMIT_SHA: ${{ github.sha }}
      #   with:
      #     filename: .github/ISSUE_TEMPLATE/daily_cache_failure.md

      - name: Parse blocks file
        id: parse-blocks
        run: |
          content=`cat ./blocks.txt`
          echo "blocks_list=$(jq 'split(",")' -Rc <(echo $content))" >> $GITHUB_OUTPUT

  run:
    needs: setup
    runs-on: ubuntu-latest
    env:
      LLVM_SYS_191_PREFIX: /usr/lib/llvm-19/
      MLIR_SYS_190_PREFIX: /usr/lib/llvm-19/
      TABLEGEN_190_PREFIX: /usr/lib/llvm-19/
      RPC_ENDPOINT_TESTNET: ${{ secrets.RPC_ENDPOINT_TESTNET }}
      RPC_ENDPOINT_MAINNET: ${{ secrets.RPC_ENDPOINT_MAINNET }}
    strategy:
      max-parallel: 25
      matrix:
        block: ${{ fromJson(needs.setup.outputs.blocks_list) }}
      fail-fast: false
    defaults:
      run:
        shell: bash
        working-directory: ./starknet-replay

    steps:
      # We checkout replay as it's the main repository for this workflow
      - name: Checkout Replay
        uses: actions/checkout@v4
        with:
          repository: lambdaclass/starknet-replay
          path: starknet-replay
      # We need native if we want to run with cairo native main
      - name: Checkout Native
        uses: actions/checkout@v4
        with:
          path: cairo_native
      # We need sequencer if we want to run with cairo native main
      - name: Checkout Native
        uses: actions/checkout@v4
        with:
          repository: lambdaclass/sequencer
          path: sequencer
          ref: main-v0.14.1

      # Install dependencies
      - uses: ./cairo_native/.github/actions/install-linux-deps
      - name: Setup rust env
        uses: dtolnay/rust-toolchain@1.84.1
      - name: Retreive cached dependecies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: starknet-replay

      - name: Patch replay dependencies
        run: |
          # Updates sequencer dependency to local path
          name='[[:alnum:]_-]+'
          sequencer_url='"https:\/\/github.com\/lambdaclass\/sequencer\.git"'
          rev='"[[:alnum:]]+"'
          new_path='"..\/sequencer\/crates\/\1"'
          sed -i'' -r "s/^($name) = \{ git = $sequencer_url, rev = $rev/\1 = { path = $new_path/" Cargo.toml

          # Updates native dependency to local path
          new_path='"..\/cairo_native"'
          sed -i'' -r "s/^cairo-native = .*/cairo-native.path = $new_path/" Cargo.toml

          git diff

      - name: Patch sequencer dependencies
        run: |
          cd ../sequencer

          # Updates native dependency to local path
          new_path='"..\/cairo_native"'
          sed -i'' -r "s/^cairo-native = .*/cairo-native.path = $new_path/" Cargo.toml

          git diff

      - name: Restore RPC calls
        uses: actions/cache/restore@v4.2.0
        with:
          path: starknet-replay/cache
          key: rpc-calls-cache

      - name: Run with Native
        run: |
          BLOCK_START=${{ matrix.block }}
          BLOCK_END=$(($BLOCK_START + $RANGE_SIZE - 1))
          cargo run --release --bin replay --features state_dump block-range $BLOCK_START $BLOCK_END mainnet

      # We always upload the dump, even if the job fails
      - name: Upload dumps
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: dump-${{matrix.block}}-native
          path: starknet-replay/state_dumps/native

  compare:
    needs: [run]
    runs-on: ubuntu-latest
    # We always run the compare job, to ensure that a single run job failing
    # would not cancel the whole comparison.
    if: ${{ always() }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4

      - name: Fetch Native dumps
        uses: actions/download-artifact@v4
        with:
          pattern: dump-*-native
          path: state_dumps/native
          merge-multiple: true
        continue-on-error: true
      # Since they were created in another workflow, we get them
      # from the cache instead of getting them as artifacts.
      - name: Fetch VM dumps
        uses: actions/cache/restore@v4.2.0
        with:
          path: state_dumps/vm
          key: dumps-vm
        continue-on-error: true

      - name: Compare states
        id: comapare-dumps
        run: python ./scripts/cmp_state_dumps.py | tee output

      - name: Upload Compare Results
        id: upload_compare_results
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: output-result
          path: output

      # - name: Prepare env vars
      #   if: ${{ always() }}
      #   run: |
      #     # Save workflow url
      #     REPO_URL="${{ github.server_url }}/${{ github.repository }}"
      #     echo "WORKFLOW_URL=$REPO_URL/actions/runs/${{ github.run_id }}" | tee -a $GITHUB_ENV
      #     echo "COMPARISON_RESULT=$REPO_URL/actions/runs/${{ github.run_id }}/artifacts/${{ steps.upload_compare_results.outputs.artifact-id }}" | tee -a $GITHUB_ENV

      # - name: Create Issue
      #   if: ${{ failure() && steps.comapare-dumps.outcome == 'failure'  }}
      #   uses: JasonEtco/create-an-issue@v2
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     COMMIT_SHA: ${{ github.sha }}
      #   with:
      #     filename: .github/ISSUE_TEMPLATE/daily_failure.md
